.nav {
  display: flex;
  justify-content: space-between;
  background-color: #FFFDF9;
  padding: 30px;
  width: auto;
  overflow: auto;
}

.rightnav a {
  color: #0D2E6E;
  padding: 20px 40px;
  font-size: 25px;
  text-decoration: none;
  font-family: "LibreBaskerville";
}

.leftnav b {
  color: #0D2E6E;
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
  font-family: "LibreBaskerville";
}  

/* hero */

.hero {
  background-color: #FFFDF9;
  margin:auto;
  width: 40%;
  padding: 20px 40px;
  color: #0D2E6E;
  font-family: "Libre Baskerville";
  text-align: left;
}

container{
  background-image: url("buttonline");
  background-color: #cccccc;
 }

body {
  background-color: #FFFDF9;
}

h1 {
  font-family: "Libre Baskerville";
  display: flex;
  padding-top: 50px;
  text-align: left;
  font-size: 60px;
}

h2 {
  font-family: "Libre Baskerville";
  display: flex;
  text-align: left;
  font-size: 60px;
}

p1 {
  font-family: "Libre Baskerville";
  display: flex;
  text-align: left;
  font-size: large;
  padding-bottom: 20px;
}

p2 {
  font-family: "Libre Baskerville";
  display: flex;
  text-align: left;
  font-size: large;
  padding-bottom: 80px;
}  

.container {
  position: relative;
  width: 60%;

}

.container img {
  width: 60%;
  height: auto;
}

.button {
  position: absolute;
  top: 46%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FFFDF9;
  color: #0D2E6E;
  font-size: 20px;
  font-family: "Libre Baskerville";
  padding: 1px 1px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  color: #F5CCA2;
}

/* Footer */
.footer {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color:#0D2E6E;
  height: 100px;
  width: auto;
}

.footer a {
  padding: 20px 40px;
  font-family: "Libre Baskerville";
  text-decoration: none;
  color: #FFFDF9;
}
a:hover {
  color: #F5CCA2;
}

@import url(font-family:"Libre-Baskerville", serif);


